<% provide(:title, '博客分类列表') %>
<div id="main">
  <%= link_to '新建博客分类', new_admin_blog_category_path, class: "btn btn-primary btn-large" %>
  <table class="table admin_bc_index">
    <tr>
      <th>类别名</th>
      <th>博客数</th>
      <th>操作</th>
    </tr>
    <% @blog_categories.each do |bc| %>
      <tr>
        <td><%= link_to bc.name, admin_blog_category_path(bc) %></td>
        <td><%= bc.blogs.published.count %></td>
        <td><%= link_to '编辑', edit_admin_blog_category_path(bc) %></span><span class="ml10"><%= link_to '删除', admin_blog_category_path(bc), method: :delete, data: { confirm: '确定删除？' } %></td>
      </tr>
    <% end %>
  </table>
    <%= paginate @blog_categories %>
</div>
