<% if messages.present? %>
  <% messages.each do |message| %>
    <div class="message">
      <img src="/images/50.jpg" alt="" />
      <div class="msg">
        <p class="msg_name"><%= message.name %><%= message.user_id %><span class="message_id">第<%= message.id %>楼</span></p>
        <p class="msg_content"><%= message.content %></p>
        <p class="msg_time"><%= message.created_at.to_s(:db) %></p>
      </div>
    </div>
  <% end %>
  <%= paginate messages %>
<% else %>
  还没有人留下痕迹，快来抢沙发哦！！！！！！
<% end %>
