<% provide(:title, '吐槽') %>
<div class="blog panel panel-default">
  <div class="panel-heading">
    <span id="tag">吐槽板</span>
  </div>
  <div class="author">
    <p class="author_title">主人寄语</p>
    <p class="author_message">大家可以在这里畅所欲言，欢迎吐槽BUG，欢迎提出意见！！！<br />本吐槽板会在近期更新，希望大家持续关注！！！<br />你应该在gravater上传自己的全球通用头像了！！！</p>
  </div>
  <div class="msg_form">
    <form action="" method="post">
      <textarea name="" class="msg_text_area" id="x"></textarea>
      <br />
      <input type="button" class="btn btn-primary msg_btn" value="发表" name="" />
    </form>
  </div>
  <% if current_user %>
    <a href=javascript:void(0) class="say">我要吐槽</a>
  <% end %>
  <p class="message_title">吐槽（<%= Message.all.length %>）</p>
  <div class="msg_box">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <%= raw show_message(message) %>
      <% end %>
      <div class="pagi"><%= paginate @messages %></div>
    <% else %>
      还没有人留下痕迹，还不快来抢沙发！！！！！！！
      <img src="/images/shafa.jpg" alt="" />
    <% end %>
  </div>
  <div class="panel-footer">
    <% if current_user.nil? %>
      需要<%= link_to '登录', login_path, class: 'btn btn-primary' %>后方可回复，如果你还没有帐号你可以<%= link_to '注册', register_path, class: "btn btn-danger" %>一个帐号。
    <% else %>
      <a href="#tag" class="say">我要吐槽</a>
      <div class="cb"></div>
    <% end %>
  </div>
</div>
