<% @blogs.each do |blog| %>
  <div class="caption">
    <h3 class="underline">
      <%= link_to blog.title, blog %>
    </h3>
    <div class="blog_info">
      分类：<%= link_to blog.category, root_path(category: blog.category) %> | 
      标签：<% blog.tags.each do |tag| %>
        <%= link_to blog.tag, root_path(tags: blog.category) %><br />
      <% end %>
      | 发布：<%= format_time(blog.created_at) %>
    </div>
  </div>
  <p><%= raw blog.content %></p>
<% end %>
