<%= content_for :javascripts do %>
  <script type="text/javascript" src="/kindeditor/kindeditor-all-min.js"></script>
  <script type="text/javascript" src="/kindeditor/lang/zh_CN.js"></script>
<% end %>
<%= form_for @blog do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :title, placeholder: "我的日志", class: "form-control" %>
  <%= f.text_area :content %>
  <div class="panel-footer">
    <span class="form-inline" role="form">
      <span class="pull-left ">
        
      </span>
      <%= f.submit "发表", class: "btn btn-default pull-right btn-lg" %>
    </span>
    <div class="cb"></div>
  </div>
<% end %>
<script type="text/javascript">
  KindEditor.ready(function(K){
    window.editor = K.create('#blog_content');
  });
</script>
