<%= form_for @blog do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: "我的日志" %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    <script type="text/javascript">CKEDITOR.replace('blog[content]');</script>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p><%= f.submit %></p>
<% end %>
