<% provide(:title, '博客列表') %>
<div id="main">
  <ul class="blog_index">
    <% @blogs.each do |category_id, blogs| %>
      <h3><%= BlogCategory.find(category_id).name %></h3>
      <% blogs.each do |blog| %>
        <li class="blogs_li">
        <%= raw weight_status_index(blog) %><%= link_to blog.title, blog_path(blog) %>
        <span class="blog_time"><%= blog.created_at.strftime("%Y-%m-%d") %>
          <span class="blog_view">访问量：<%= blog.view_total %></span>
          <span class="ml10">评论数：<%= blog.comments.count %></span>
        </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
