<% title "Blogs" %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Tag</th>
  </tr>
  <% for blog in @blogs %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= blog.user_id %></td>
      <td><%= blog.tag %></td>
      <td><%= link_to "Show", blog %></td>
      <td><%= link_to "Edit", edit_blog_path(blog) %></td>
      <td><%= link_to "Destroy", blog, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Blog", new_blog_path %></p>
