<% title "Blogs" %>

<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
    <th>标签</th>
  </tr>
  <% for blog in @blogs %>
    <tr>
      <td><%= link_to blog.title, blog %></td>
      <td><%= raw blog.content %></td>
      <td><%= blog.tag %></td>
      <td><%= link_to "编辑", edit_blog_path(blog) %></td>
      <td><%= link_to "删除", blog, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Blog", new_blog_path %></p>
