<% title "Blog" %>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>
<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>
<p>
  <strong>Tag:</strong>
  <%= @blog.tag %>
</p>

<p>
  <%= link_to "Edit", edit_blog_path(@blog) %> |
  <%= link_to "Destroy", @blog, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", blogs_path %>
</p>
