<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/solarized_dark.min.css">
<% provide(:title, @blog.title) %>
<% content_for :seo_keyword do %>
  <meta name="keywords" content="<%= @blog.seo_keyword %>" />
<% end %>
<ol class="breadcrumb">
  <li><%= link_to '首页', '/' %></li>
  <li><%= link_to @blog.blog_category_name, blogs_path(category: @blog.blog_category_id) %></li>
  <li class="active">正文</li>
</ol>
<div class="blog">
  <div class="panel-heading">
    <span>博客</span>
    <%= link_to "返回博客列表", blogs_path, class: "pull-right" %>
  </div>
  <h2 class="title"><%= @blog.title %></h2>
    <div class="blog_info">
      <%= hidden_field_tag :blog_id, @blog.id, id: "blog_id" %>
      <span class="ml20">作者：<%= @blog.user_name %></span>
      <span class="fr mr20">发布：<%= @blog.created_at.to_date %></span>
    </div>
  <div class="mt10 mb10 editor-style" id="show_blog_content"><%= raw emojify(@blog.content) %></div>
  <div class="mb30">
    <span onclick="user_like(<%= @blog.id %>)" class="pull-right">
      <a href="javascript:void(0)" id="like"><span class="glyphicon <%= @blog.like_by_user?(current_user.try(:id)) ? "glyphicon-heart" : "glyphicon-heart-empty" %>" id="like_icon"></span><span id="count"><%= @blog.user_loves.count %></span>人喜欢</a>
    </span>
    <div class="cb"></div>
  </div>
</div>
<!-- 百度分享代码 -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>

<p>支付宝扫码赞助博主</p>
<div><img src="/images/zfbqr.png" alt="" class="mrcenter w160"></div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="comment_form">
  <% if current_user.nil? %>
    <div class="form-inline">
      <%= text_field "nickname", "", class: "form-control", id: "cmt_user_name", placeholder: "昵称", maxlength: 7, required: "required" %>
      <%= email_field "email", "", class: "form-control", id: "cmt_user_email", placeholder: "电子邮箱", required: "required" %>
    </div>
  <% end %>
  <textarea name="" class="form-control cmt_text_area" id="cmt_text_area" maxlength=160></textarea>
  <br />
  <input type="button" class="btn btn-success cmt_btn" value="发表" name="" />
</div>
<p class="message_title">评论（<%= @comments.length %>）</p>
<div class="cmt_box">
    <% @comments.each_with_index do |comment, index| %>
      <%= raw show_comment(comment, index) %>
    <% end %>
    <%= paginate @comments %>
</div>
<script>
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2554119658203472"
     data-ad-slot="9866844147"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
