<% title "Comments" %>

<table>
  <tr>
    <th>Content</th>
    <th>Blog</th>
    <th>User</th>
    <th>Pid</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.blog_id %></td>
      <td><%= comment.user_id %></td>
      <td><%= comment.pid %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_comment_path %></p>
