<% title "Comment" %>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<p>
  <strong>Blog:</strong>
  <%= @comment.blog_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>
<p>
  <strong>Pid:</strong>
  <%= @comment.pid %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
