<% provide(:title, '吐槽列表') %>
<p class="fr">共有<span class="red ml5 mr5 f20 fb"><%= @messages.total_count %></span>个吐槽</p>
<div id="main">
  <table class="table">
    <tr>
      <th>发布者</th>
      <th>内容</th>
      <th>发布状态</th>
      <th>操作</th>
    </tr>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.content %></td>
        <td><%= message.publish_status %></td>
        <td><span class="ml10"><%= link_to '取消发布', admin_message_path(message), method: :delete, data: { confirm: '确定取消发布？' } %></td>
      </tr>
    <% end %>
  </table>
    <%= paginate @messages %>
</div>
