<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "用户名" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, "密码" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "确认密码" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :email, "电子邮件" %><br />
    <%= f.email_field :email %>
  </p>
  <p><%= f.submit "提交", class: "btn" %></p>
<% end %>
