<% title @user.name %>

<%= gravatar_for @user %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>
<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>
<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p>
<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Relation:</strong>
  <%= @user.relation %>
</p>
<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>
<p>
  <strong>Rights:</strong>
  <%= @user.rights %>
</p>
<p>
  <strong>Score:</strong>
  <%= @user.score %>
</p>
<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>
<div class="span8">
  <% if @user.blogs.any? %>
    <h3>共<%= @user.blogs.count %>篇博客</h3>
    <ol class="blogs">
      <%= render @blogs %>
    </ol>
    <%= paginate @blogs %>
  <% end %>
</div>
