<div class="directory">
  <ul>
    <li><%= link_to "博客管理", admin_blogs_path %></li>
    <li><%= link_to "博客分类", admin_blog_categories_path %></li>
    <li><%= link_to "吐槽管理", admin_messages_path %></li>
    <li><%= link_to "友链管理", admin_links_path %></li>
    <li><%= link_to "留言管理", admin_comments_path %></li>
    <li><%= link_to "小贴士管理", admin_tips_path %></li>
    <li></li>
    <li></li>
  </ul>
</div>
