<div class="user">
  <div class="tc mt20 mb10"><img src="/images/admin.jpg" alt="博主头像" class="img-circle" height="100px"></div>
  <p class="doc">一个以写 java 谋生的 ruby on rails 程序员，现就职于 thoughtworks&nbsp;&nbsp;<%= link_to "更多信息", xingge_path, target: "_blank", class: "fb" %></p>
  <p class="rss">
  <div class="tc mb15">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      邮件订阅
    </button>
  </div>
  <p>联系作者：Edward_mjz@hotmail.com</p>
  <div class="panel panel-default mt25">
    <div class="panel-heading" style="text-align:center;">小贴士</div>
    <div class="panel-body">
      <%= tips %>
    </div>
  </div>
  <h2 class=mt25>最热最新</h2>
  <ul class="hot">
    <% hot_blogs.each do |hot_blog| %>
      <li><%= link_to hot_blog.title, blog_path(hot_blog) %></li>
    <% end %>
  </ul>
  <h2 class=mt25>分类大全</h2>
  <ul class="hot">
    <% all_category.each do |category| %>
      <li><%= link_to category.name, blogs_path(category: category.id) %></li>
    <% end %>
  </ul>
  <h2 class="zfbqr">小额赞助博主</h2>
  <p>此博客对你有帮助，支付宝扫码赞助博主</p>
  <img src="/images/zfbqr.png" alt="" class="mrcenter w160">
  <h2 class="zfbqr">支持公益</h2>
  <p>所受赞助的 50% 将转捐vim开发者，<a href="http://www.vim.org/sponsor/" class="fb" target="_blank">赞助vim</a>，帮助<a href="http://iccf-holland.org/" class="fb" target="_blank"> 乌干达的可怜儿童 </a></p>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <p id="subscribe_des" class="modal-title">通过邮件订阅的用户每周会收到一封来自撕瓦星哥的邮件，系统会向您推荐本周精选的博客</p>
        </div>
        <div class="modal-body">
          <div class="form-inline">
              <%= label_tag 'subscribe_email', "电子邮箱:", class: "control-label sub_label" %>
            <div class="form-group">
              <%= email_field_tag :sub_email, "", class: "form-control", id: "subscribe_email", placeholder: "电子邮箱", required: true %>
              <span id="sub_message"></span>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="sub_submit">提交</button>
        </div>
      </div>
    </div>
  </div>
</div>
