<div class="user">
  <h2>关于作者</h2>
  <p class="doc">一个半吊子ruby on rails程序员，现就职于成都团博百众有限责任公司&nbsp;&nbsp;<%= link_to "更多信息", me_path %></p>
  <p class="rss"><%= link_to '订阅本站', '#' %></p>
  <p>联系作者：Edward_mjz@hotmail.com</p>
  <div class="panel panel-default mt25">
    <div class="panel-heading" style="text-align:center;">小贴士</div>
    <div class="panel-body">
      <%= tips.content %>
    </div>
  </div>
  <h2 class=mt25>最热最新</h2>
  <ul class="hot">
    <% hot_blogs.each do |hot_blog| %>
      <li><%= link_to hot_blog.title, hot_blog %></li>
    <% end %>
  </ul>
  <h2 class=mt25>分类大全</h2>
  <ul class="hot">
    <% all_category.each do |category| %>
      <li><%= link_to category.name, blogs_path(category: category.id) %></li>
    <% end %>
  </ul>
  <h2 class="mt25">统计信息</h2>
  <%= statistics %>
</div>
