<%= form_tag links_path, method: :post do %>
  标题：<%= text_field_tag :title %>
  地址：<%= text_field_tag :href %>
  分类：<%= select_tag(:category, options_from_collection_for_select(@category, :id, :category)) %>
  <%= submit_tag "提交" %>
<% end %>
<input type="button" class="btn" value="增加分类" name="" data-toggle="modal" data-target=".bs-modal-sm" />
<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal", aria-hidden="true">x</button>
        <h4 class="modal-title" id="mySmallModalLabel">增加分类</h4>
      </div>
      <div class="modal-body">
        <div class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">新增分类</label>
            <%= text_field_tag :Cname,"", class: "form-control", placeholder: "新增分类" %>
          </div>
          <%= button_tag "确定", class: "btn btn-primary", onclick: "addLink()" %>
        </div>
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div>
