<% provide :title, "友情链接" %>
<% content_for :javascripts do %>
  <%= javascript_include_tag controller_path, media: "all" %>
<% end %>
<% @links.each do |category_id, links| %>
  <div class="rows">
    <h3><%= LinkCategory.find(category_id).category %></h3>
    <ul class="list-inline">
      <% links.each do |link| %>
        <li><a href=<%= link.href %> target="_blank" data-toggle="tooltip" data-original-title=<%= link.description %> ><%= link.title %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $(".list-inline li a").tooltip()
  })
</script>
