<%= form_tag(user_zhuce_path, method: :post, class: "form-horizontal",) do %>
  <fieldset>
    <legend>好友注册</legend>
  <div class="control-group">
    <%= label_tag :用户名, '用户名：', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :username %>
      <p class="help-inline un-info">不少于6个字符，可使用字母，符号，和汉字</p>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :密码, '密码：', class: 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password %>
      <p class="help-inline pw-info">不少于6个字符，可使用字母，符号，和汉字</p>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :确认密码, '确认密码：', class: 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password_confirmation %>
      <p class="help-inline cpw-info">再输入一次密码</p>
    </div>
  </div>
  <%= submit_tag "注册", class: "btn sm-btn" %>
  </fieldset>
<% end %>
