<% provide(:title, '博客分类列表') %>
<div id="main">
  <%= link_to '新建小贴士', new_admin_tip_path, class: "btn btn-primary btn-large" %>
  <table class="table admin_bc_index">
    <tr>
      <th>内容</th>
      <th>操作</th>
    </tr>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.content %></td>
        <td><%= link_to '编辑', edit_admin_tip_path(tip) %></span><span class="ml10"><%= link_to '删除', admin_tip_path(tip), method: :delete, data: { confirm: '确定删除？' } %></td>
      </tr>
    <% end %>
  </table>
    <%= paginate @tips %>
</div>
