<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="title" content="rails blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="一个程序员的blog，专职ruby on rails开发" />
    <meta name="author" content="周星">
    <%= yield :seo_keyword %>
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/icon.png" />
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag controller_path, media: "all" %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/sweetalert/sweetalert.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class="container" style="max-width:calc(77%)">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> fade in"><%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >x</button>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
          <%= yield %>
        </div>
      </div><!-- row -->
    </div>
    <%= render_ga %>
    <% cache "v1/footer/", expires_in: 60.minutes do %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
