<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="title" content="rails blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="一个程序员的blog，专职ruby on rails开发">
    <meta name="author" content="周星">
    <%= yield :seo_keyword %>
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/docs.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/icon.png" />
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag controller_path, media: "all" %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class="info">
      <div class="container" style="max-width:calc(78%)">
        <h1>Edward的博客</h1>
        <p>有时过于聪明，有时过于愚蠢</p>
      </div>
    </div><!-- info -->
    <div class="container" style="max-width:calc(77%)">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> fade in"><%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >x</button>
        </div>
      <% end %>
      <div class="alert alert-success fade in none">
        评论成功！！！
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >x</button>
      </div>
      <div class="row">
        <!-- <div class="col-sm-12"> -->
          <div class="col-lg-9">
            <%= yield %>
          </div>
          <div class="col-lg-3">
            <%= render 'shared/aside' %>
          </div><!-- span3 -->
        <!-- </div>-->
      </div><!-- row -->
    </div>
<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48833622-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>
  <% cache "v1/footer/", expires_in: 60.minutes do %>
    <%= render 'shared/footer' %>
  <% end %>
  </body>
</html>
