<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="title" content="rails blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="一个程序员的blog，专职ruby on rails开发" />
    <meta name="author" content="周星" />
    <meta name="keywords" content="周星,博客,ruby,rails" />
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/icon.png" />
    <%= stylesheet_link_tag controller_path, "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag controller_path,"data-turbolinks-track" => true %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/sweetalert/sweetalert.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top header" role="banner" style="background-image: url(http://7xkiny.com1.z0.glb.clouddn.com/beautiful_nights.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="desc-wrapper">
            <p>Sometimes over smart, sometimes over silly</p>
            <img src="http://7xkiny.com1.z0.glb.clouddn.com/QQ20150721-2.png" alt="博主头像" class="img-circle" height="140px">
            <div class="links">
              <%= link_to "更多信息", xingge_path, class: "mr20", target: "_blank" %>
              &nbsp;&nbsp;
              <%= link_to "关于本站", about_path, target: "_blank", onclick: "_gaq.push(['_trackEvent', 'buttonClick', 'about', 'userclick about on nav']);" %>
            </div><!-- links -->
          </div><!-- desc-wrapper -->
        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
    </header>
    <main class="body" role="main">
    <div class="container">
      <div class="col-xs-12">
        <p class="title-bordered" id="about">about</p>
        <p class="blockquote">I’m glad you found me. My name is xing zhou and I am a developer</p>
        <%= yield %>
      </div><!-- col-xs-12 -->
    </div><!-- container -->
    <div>
      <p class="title-bordered" id="contact">contact</p>
      <p class="contact">want to talk something or join Thoughtworks, send email to Edward_mjz@hotmail.com</p>
    </div>
    </main>
    <footer>
    <div id="subscribe">
      <section class="form-inline">
        <div class="form-group">
          <input type="email" name="subscribe" class="form-control" id="subscribe_email" require=true placeholder="Enter your email address" />
        </div>
        <button id="sub_submit", onclick="_gaq.push(['_trackEvent', 'buttonClick', 'submit subscribe', 'user submit subscribe']);" class="btn btn-default">subscribe</button>
      </section>
    </div>
    <h1 class="title-bordered" id="about">public welfare</h1>
    <p class="donate">send a donation to <a href="http://www.vim.org/sponsor/" class="fb" target="_blank">vim</a>, helping <a href="http://iccf-holland.org/" class="fb" target="_blank">children in Uganda</a>.</p>
    </footer>
    <%= render_ga %>
  </body>
</html>
