<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="友情链接,ruby on rails,vim,前端">
    <meta name="description" content="一个程序员的blog，专职ruby on rails开发">
    <meta name="author" content="周星">
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/docs.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/icon.png" />
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <% cache "v1/link_header/", expires_in: 60.minutes do %>
      <%= render 'shared/link_header' %>
    <% end %>
    <div class="info">
      <div class="container" style="max-width:calc(78%)">
        <h1>友情链接</h1>
      </div><!-- container -->
    </div><!-- info -->
    <div class="container" style="max-width:calc(78%)">
      <%= yield %>
    </div><!-- container -->
    <%= render 'shared/ga' %>
    <% cache "v1/footer/", expires_in: 60.minutes do %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
