<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/docs.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/link_header' %>
    <div class="info">
      <div class="container">
        <h1>星哥导航站</h1>
        <p>星哥导航站,一个值得你ctrl D的网站</p>
      </div><!-- container -->
    </div><!-- info -->
    <div class="container">
      <%= yield %>
    </div><!-- container -->
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
