<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/docs.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= yield :styles %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <%= yield :javascripts %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'shared/link_header' %>
    <div class="info">
      <div class="container" style="max-width:calc(78%)">
        <h1>友情链接</h1>
        <p>一个值得你ctrl D的网站</p>
      </div><!-- container -->
    </div><!-- info -->
    <div class="container" style="max-width:calc(78%)">
      <%= yield %>
    </div><!-- container -->
    <%= render 'shared/footer' %>
  </body>
</html>
